* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  width: 500px;
  height: 700px;
  background-color: #181425;
  padding: 10px;
  display: flex; 
  flex-direction: column;
}

.message {
  background-color: #3a4466 ;
  height: 100%;
  width: 100%;
}

.input {
  display: flex; 
  justify-content: space-between;
}
.input #message{
  width: 100%;
}