

body {
  width: 100vw;
  min-height: 100vh; 
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/017/130/035/large/sephiroth-art-untitled-1.jpg?1554754347);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  gap: calc(var(--border-width) + 30px);
}

.Form {
  width: calc(300px + var(--border-width)*4);
  background: var(--background);
  min-height: 250px;
  border: var(--border-width) solid var(--border);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  box-shadow: inset 0 0 10px var(--border);
}

.Form h2 {
  line-height: 35px;
  width: 100%;
  font-size: 3rem;
  color: var(--border);
}

.Form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  width: 100%;
}

.Form form input {
  width: 100%;
  height: 30px;
  color: var(--text-color2);
  border-radius: 50px;
  padding: 10px;
  background-color: var(--background2);
  outline: none;
}

.Form form input::placeholder {
  color: var(--text-color3);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: 5000s ease-in-out 0s;
}

.Form .img-form {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.Form .img-form .content {
  border: var(--border-width) solid var(--border);
  border-radius: calc(var(--border-radius-min) + 5px);
  position: relative;
  margin-bottom: 10px;
}

.Form .img-form .content .img {
  overflow: hidden;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-min);
  background-color: #000000;
}

.Form .img-form .content .img img {
  height: 100%;
  filter: hue-rotate(-120deg);
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  background: var(--border);
  transition: .1s;
}

button:hover {
  background: var(--text-color2)
}

button:active {
  color: var(--text-color2);
  background: var(--background2);
  box-shadow: 0 0 0px var(--background3);
}

._::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(var(--pos) - var(--border-width)*2);
  left: calc(var(--pos) - var(--border-width)*2);
  border-width: var(--border-width)0px 0px var(--border-width);
  border-style: solid;
  border-color: var(--border);
  border-radius: calc(var(--border-radius-min) - var(--pos)) 0px 0px 0px;
  z-index: 1;
}

._::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: calc(var(--pos) - var(--border-width)*2);
  right: calc(var(--pos) - var(--border-width)*2);
  border-width: 0px var(--border-width) var(--border-width) 0px;
  border-style: solid;
  border-color: var(--border);
  border-radius: 0px 0px calc(var(--border-radius-min) - var(--pos)) 0px;
  z-index: 1;
}

.alert {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.738);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .25s;
}

.alert div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--background);
  padding: 40px 20px;
  border: var(--border-width) solid var(--border);
  border-radius: var(--border-radius-min);
}

.alert div p {
  color: var(--text-color2);
}

.close {
  opacity: 0;
  z-index: -1;
}

@media screen and (width < 1000px) {
  body{
    flex-direction: column;
  }
  
}
