/* 
date: "16.04.2023_17:36:16"
email: "lord_tech@mail.ru"
last_date_login: "16.04.2023_17:39:19"
name: "Lord_V"
password: "789987"
searchId: "@baseuser" 
*/

body {
  width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://phonoteka.org/uploads/posts/2022-02/1643883234_1-phonoteka-org-p-temnii-fon-abstraktsiya-1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.users{
  position: relative;
    width: 250px;
    background: linear-gradient(163.24deg, var(--background) 0%, var(--background2) 100%);
    border: 5px solid var(--border);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
  
 padding: 50px 20px;
}

button {
  width: 90px;
  height: 32px;

  background: var(--background3);
  border: 2.5px solid var(--border);
  border-radius: 10px;

  color: var(--text-color2);
  font-size: 10px;
  transition: .3s;
  margin: 10px;
}

button:hover {
  box-shadow: 0 0 10px 0 var(--background3), 0 0 10px 0 var(--background3) inset;
  border: 2.5px solid var(--background3);
  background-color: transparent;
  color: var(--text-color);
}