:root {
  --background: #0d1015;
  --background2: #282f39;
  --background3: #0095e9;
  --background-input: #e8f0fe;
  --border: #454f5a;
  --text-color: #fff;
  --text-color2: #000000;

  --border-radius-min: 5px;
  --border-radius-max: 50px;

  --border-radius: var(--border-radius-min) var(--border-radius-max);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-weight: 100;
}